.returnDiv{
    position: relative;
    top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fromDiv{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.inputClass{
    text-align: center;
    column-gap: 20px;
    height: 2.2em;
    width: 20em;
    border: 0;
    border-radius: 20px;
}
.btnSubmit{
    font-size: 1em;
    margin: 5px;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.btnSubmit:hover{
    transform: scale(1.2);
    border: none;

}